COMPOSE_PROFILES=dev #dev ou prod

MONGO_USER=pj_admin
MONGO_PASSWORD=
JWT_SECRET=
STRIPE_SECRET_KEY=
STRIPE_PUBLIC_KEY=
STRIPE_WEBHOOK_SECRET=

#prod
APP_DOMAIN=app.mondomaine.fr #voyageur
ADMIN_DOMAIN=admin.mondomaine.fr
API_DOMAIN=api.mondomaine.fr
ACME_EMAIL=moi@mondomaine.fr #besoin email pour HTTPS let's encrypt
